Repository arma-ukraine/reforger: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-local, validate-freedom-fighters-prices, generate-mods-md

pyright-local:
  name: Pyright (local)
  entry: uv run pyright
  language: system

validate-freedom-fighters-prices:
  name: Validate Freedom Fighters Prices
  entry: uv run python AUAFFPlusTweaks/validate_prices.py --fix
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

generate-mods-md:
  name: Generate MODS.md
  entry: uv run python mods.py
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

remove unnecessary main.py
  main.py
Due: pyright-local

mod list update
  MODS.md
  mods.py
Due: pyright-local, generate-mods-md

move delta t dead everon over
  MODS.md
  mods.py
Due: pyright-local, generate-mods-md

FF FIA faction shops rework
  AUAFFPlusTweaks/Configs/EntityCatalog/FIA/InventoryItems_EntityCatalog_FIA.conf
  AUAFFPlusTweaks/Configs/EntityCatalog/US/InventoryItems_EntityCatalog_US.conf
  AUAFFPlusTweaks/Configs/Items/FreedomFighters.conf
  AUAFFPlusTweaks/Configs/Shops/ItemGroups/PlayerWeapons.conf
  AUAFFPlusTweaks/Configs/Shops/ItemGroups/PlayerWeapons.conf.meta
  AUAFFPlusTweaks/Configs/Shops/ItemGroups/SupportingWeapons.conf
  AUAFFPlusTweaks/Configs/Shops/ItemGroups/SupportingWeapons.conf.meta
  AUAFFPlusTweaks/resourceDatabase.rdb
Due: validate-freedom-fighters-prices

fix: t72 prices, more economy fixes
  AUAFFPlusTweaks/Configs/Integrations/SpaceStrider/T72.conf
  AUAFFPlusTweaks/Configs/Integrations/SpaceStrider/T72.conf.meta
  AUAFFPlusTweaks/Configs/Items/FreedomFighters.conf
  AUAFFPlusTweaks/Configs/Shops/ItemGroups/SupportingWeapons.conf
  AUAFFPlusTweaks/resourceDatabase.rdb
  AUAFFPlusTweaks/validate_prices.py
Due: pyright-local, validate-freedom-fighters-prices

add aua logo
  AUAFFPlusTweaks/resourceDatabase.rdb
  logo_a3ua_big_clear.png
Due: none

feat: reduce epi price
  AUAFFPlusTweaks/Configs/Items/FreedomFighters.conf
  AUAFFPlusTweaks/resourceDatabase.rdb
Due: validate-freedom-fighters-prices

rebase FF mod on top of original unmodded FF, add more mods to curated list
  AUAFFPlusTweaks/addon.gproj
  AUAFFPlusTweaks/resourceDatabase.rdb
  MODS.md
  mods.py
Due: pyright-local, generate-mods-md

redice lockpick price, reduce repair price
  AUAFFPlusTweaks/Configs/Items/FreedomFighters.conf
  AUAFFPlusTweaks/Configs/Modded/EntityCatalog/CIV/Vehicles_EntityCatalog_CIV.conf
  AUAFFPlusTweaks/Configs/Modded/EntityCatalog/CIV/Vehicles_EntityCatalog_CIV.conf.meta
  AUAFFPlusTweaks/Prefabs/Modded/Components/SupportStations/Repair/BaseRepairSupportStation.ct
  AUAFFPlusTweaks/Prefabs/Modded/Components/SupportStations/Repair/BaseRepairSupportStation.ct.meta
  AUAFFPlusTweaks/resourceDatabase.rdb
Due: validate-freedom-fighters-prices

Fix m40 in US arsenal.
  AUAFFPlusTweaks/Configs/EntityCatalog/US/InventoryItems_EntityCatalog_US.conf
  AUAFFPlusTweaks/Configs/Shops/ItemGroups/SupportingWeapons.conf
  AUAFFPlusTweaks/resourceDatabase.rdb
Due: none

Remove empty filter rule.
  AUAFFPlusTweaks/Configs/Shops/ItemGroups/SupportingWeapons.conf
Due: none

FF tweaks: add missing t72 ammo
  AUAFFPlusTweaks/Configs/EntityCatalog/FIA/InventoryItems_EntityCatalog_FIA.conf
  AUAFFPlusTweaks/Configs/Items/FreedomFighters.conf
  AUAFFPlusTweaks/resourceDatabase.rdb
Due: validate-freedom-fighters-prices

FFT: res db update
  AUAFFPlusTweaks/resourceDatabase.rdb
Due: none

AUAFFT: stopped using entity catalogs, cleaned up unusable items, adjusted prices,
  AUAFFPlusTweaks/Configs/EntityCatalog/FIA/InventoryItems_EntityCatalog_FIA.conf
  AUAFFPlusTweaks/Configs/EntityCatalog/FIA/InventoryItems_EntityCatalog_FIA.conf.meta
  AUAFFPlusTweaks/Configs/EntityCatalog/US/InventoryItems_EntityCatalog_US.conf
  AUAFFPlusTweaks/Configs/EntityCatalog/US/InventoryItems_EntityCatalog_US.conf.meta
  AUAFFPlusTweaks/Configs/Items/FreedomFighters.conf
  AUAFFPlusTweaks/Configs/Shops/ItemGroups/PlayerWeapons.conf
  AUAFFPlusTweaks/Configs/Shops/ItemGroups/SupportingWeapons.conf
  AUAFFPlusTweaks/addon.gproj
  AUAFFPlusTweaks/resourceDatabase.rdb
Due: validate-freedom-fighters-prices

AUAFFT - set remaining bullet counts to 0-3, remove rockets and grenades from inventory on NPC death
  AUAFFPlusTweaks/MAGAZINE_HANDLER_USAGE.md
  AUAFFPlusTweaks/Prefabs/Characters/Core/Character_Base.et
  AUAFFPlusTweaks/Prefabs/Characters/Core/Character_Base.et.meta
  AUAFFPlusTweaks/Scripts/Game/AUA_NPCDeathMagazineHandler.c
  AUAFFPlusTweaks/addon.gproj
  AUAFFPlusTweaks/resourceDatabase.rdb
Due: none

AUAFF - fix and clean up death magazine handler component
  AUAFFPlusTweaks/Scripts/Game/AUA_NPCDeathMagazineHandler.c
  CLAUDE.md
Due: none

AUAFF: fix player detection in death magazine handler
  AUAFFPlusTweaks/Scripts/Game/AUA_NPCDeathMagazineHandler.c
  AUAFFPlusTweaks/resourceDatabase.rdb
Due: none

AUAFFT: rename the mod
  AUAFFPlusTweaks/resourceDatabase.rdb
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusBoltGuns.conf
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusBoltGuns.conf.meta
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusLMGs.conf
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusLMGs.conf.meta
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusLaunchers.conf
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusLaunchers.conf.meta
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusRifles.conf
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusRifles.conf.meta
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusSMGs.conf
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusSMGs.conf.meta
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusShotguns.conf
  AUAFFTweaked/Configs/Integrations/BigChungus/BigChungusShotguns.conf.meta
  AUAFFTweaked/Configs/Integrations/SpaceStrider/T72.conf
  AUAFFTweaked/Configs/Integrations/SpaceStrider/T72.conf.meta
  AUAFFTweaked/Configs/Items/FreedomFighters.conf
  AUAFFTweaked/Configs/Items/FreedomFighters.conf.meta
  AUAFFTweaked/Configs/Items/Vanilla.conf
  AUAFFTweaked/Configs/Items/Vanilla.conf.meta
  AUAFFTweaked/Configs/Modded/EntityCatalog/CIV/Vehicles_EntityCatalog_CIV.conf
  AUAFFTweaked/Configs/Modded/EntityCatalog/CIV/Vehicles_EntityCatalog_CIV.conf.meta
  AUAFFTweaked/Configs/Shops/ItemGroups/PlayerWeapons.conf
  AUAFFTweaked/Configs/Shops/ItemGroups/PlayerWeapons.conf.meta
  AUAFFTweaked/Configs/Shops/ItemGroups/SupportingWeapons.conf
  AUAFFTweaked/Configs/Shops/ItemGroups/SupportingWeapons.conf.meta
  AUAFFTweaked/MAGAZINE_HANDLER_USAGE.md
  AUAFFTweaked/Prefabs/Characters/Core/Character_Base.et
  AUAFFTweaked/Prefabs/Characters/Core/Character_Base.et.meta
  AUAFFTweaked/Prefabs/Modded/Components/SupportStations/Repair/BaseRepairSupportStation.ct
  AUAFFTweaked/Prefabs/Modded/Components/SupportStations/Repair/BaseRepairSupportStation.ct.meta
  AUAFFTweaked/Scripts/Game/AUA_NPCDeathMagazineHandler.c
  AUAFFTweaked/addon.gproj
  AUAFFTweaked/resourceDatabase.rdb
  AUAFFTweaked/validate_prices.py
Due: pyright-local

AUAFFT - rename loot reducer component
  AUAFFTweaked/Prefabs/Characters/Core/Character_Base.et
  AUAFFTweaked/Scripts/Game/AUA_LootReducer.c
  AUAFFTweaked/resourceDatabase.rdb
Due: none

AUAFFT - improve loot reducer logic
  AUAFFTweaked/Scripts/Game/AUA_LootReducer.c
Due: none

AUAFFT - separate deletion chances for different types of items
  AUAFFTweaked/Scripts/Game/AUA_LootReducer.c
Due: none

AUAFFT - excempt dogtags from loot reducer
  AUAFFTweaked/Scripts/Game/AUA_LootReducer.c
  AUAFFTweaked/resourceDatabase.rdb
Due: none

Path conditions:
  pyright-local: any of: \.py$
  validate-freedom-fighters-prices: any of: ^AUAFFPlusTweaks/Configs/Items/FreedomFighters\.conf$
  generate-mods-md: any of: ^mods\.py$
